*{
	font-family: raleway;
	color: white;
	font-size: 1em;
    text-align: center;
	}

.banner-container {
            position: relative;
            width: 100%;
}

.banner {
    width: 100%; /* L'image prendra toute la largeur de l'écran */
    height: auto; /* La hauteur sera ajustée automatiquement pour conserver les proportions */
    display: block; /* Pour éviter les espaces en bas de l'image dans certains navigateurs */
}

/* Style du titre principal */
.banner-title {
    position: absolute;
    top: 20%; /* Positionne le titre principal plus haut */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: : 5vw; /* Le texte occupera 8% de la largeur de la fenêtre */
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 8px black;
    }

.banner-subtitle {
    position: absolute;
    top: 60%; /* Place le sous-titre plus bas, sous le titre principal */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw; /* Le texte occupera 8% de la largeur de la fenêtre */
    text-align: center;
    text-shadow: 1px 1px 8px black;
}

.nav-container{
    width: 100%;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
.bouton{
	background-color: #000000;
    color: #ffffff;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
	text-decoration: none;
	border: 3px solid;
	border-color: #ffffff;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
    flex-grow: 1; /* Permet au bouton de s'étendre */
    flex-basis: 20%; /* Chaque bouton prend 25% de la largeur du conteneur */
    margin: 10px; /* Ajoute de l'espace autour des boutons */
    transition: all 2s ease; /* Ajoute la transition pour l'effet doux */
    min-height: 70px; /* Définit une hauteur minimale pour chaque bouton */
}

@media (max-width: 768px) {
    .bouton {
        flex-basis: 100%; /* Chaque bouton prend toute la largeur sur les petits écrans */
        min-height: 60px; /* Peut ajuster la hauteur minimale pour le mobile */
    }
}
.bouton:hover{
	background-color:#FEFCFB;
	color: #000000;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border: solid;
	border-color: #000000;
}
